.container
  %h2 プロフィール情報
  = link_to 'プロフィールを編集', edit_profile_path, class: 'btn edit'
  
  - if current_user.profile.avatar.attached?
    = image_tag current_user.profile.avatar
  - else
    = image_tag 'default_avatar.png', class: 'icon'
  .profile-info
    .profile-name
      %p ニックネーム
      = current_user.profile.nickname
    %br
    .profile-age
      %p 年齢
      = current_user.profile.age
    %br
    .profile-gender
      %p 性別
      = current_user.profile.gender
    %br
    .profile-region
      %p 地域
      = current_user.profile.region
    %br
    .profile-introduction
      %p 自己紹介
      = current_user.profile.introduction
