= link_to '全ての投稿', posts_path, {class: "category-item #{add_class(posts_path)}"}
= link_to 'お悩み相談', worries_path, {class: "category-item #{add_class(worries_path)}"}
= link_to '日常の投稿', dailies_path, {class: "category-item #{add_class(dailies_path)}"}
= link_to '友達づくり', friends_path, {class: "category-item #{add_class(friends_path)}"}

-# .tabs-item{class: "#{add_active_class(timeline_path)}"}