.container
  %h2 投稿一覧
  .category
    = link_to '全ての投稿', posts_path, class: 'category-item'
    = link_to 'お悩み相談', worries_path, class: 'category-item'
    = link_to '日常の投稿', dailies_path, class: 'category-item'
    %span.category-item 友達づくり

  = render 'shared/tabs'
  - posts.each do |post|
    = link_to post_path(post) do
      .post.post-index
        .post-header
          .user-info
            .avatar-image
              = avatar_display(post.user, class_name: 'post-avatar-icon')
            %span.user-name= post.user.profile.nickname
            %span.post-category= t("enums.post.category.#{post.category}")
          %span.post-timestamp= post.created_at.strftime('%Y-%m-%d')
        %p.post-title
          %span.post-title-text タイトル：
          = post.title

= link_to new_post_path do
  = image_tag 'pencil_icon.png', class: 'pencil-icon'
