.user-profile
  %h2.user-profile-heading プロフィール情報

  .user-profile-content
    .user-profile-header
      .user-profile-avatar
        = avatar_display(user, class_name: 'profile-avatar')
      .user-profile-info
        %h3= user.profile.nickname
        .user-profile-details
          %span.user-profile-detail-item= age_display(user)
          %span.user-profile-detail-item= gender_display(user)
          %span.user-profile-detail-item= region_display(user)

    - if defined?(link_label) && link_label.present? && defined?(link_path) && link_path.present?
      = link_to link_label, link_path, class: 'button-secondary'
    - else
      - if current_user.has_liked?(user)
        %span.button-secondary.button-unfollow{ data: { account_id: account_id } } アンフォロー
        %span.button-secondary.button-follow.hidden{ data: { account_id: account_id } } フォロー
      - else
        %span.button-secondary.button-follow{ data: { account_id: account_id } } フォロー
        %span.button-secondary.button-unfollow.hidden{ data: { account_id: account_id } } アンフォロー

    = link_to '#' do
      %span.following-count 0
      %span.following-text フォロー中
    = link_to '#' do
      %span.follower-count 0
      %span.follower-text フォロワー

    .user-profile-introduction
      %p.user-profile-label 自己紹介
      %p.user-profile-value= user.profile.introduction
