.user-profile
  %h2.user-profile-heading プロフィール情報

  .user-profile-content
    .user-profile-header
      .user-profile-avatar
        = avatar_display(user, class_name: 'profile-avatar')
      .user-profile-info
        %h3= user.profile.nickname
        .user-profile-details
          %span.user-profile-detail-item= "年齢： #{user.profile.age}歳"
          %span.user-profile-detail-item= "性別： #{user.profile.gender}"
          %span.user-profile-detail-item= "地域： #{user.profile.region}"

    - if defined?(link_label) && link_label.present? && defined?(link_path) && link_path.present?
      = link_to link_label, link_path, class: 'button-secondary'
    - else
      - if current_user.has_liked?(user)
        %span.button-secondary.button-unfollow{ data: { account_id: account_id } } アンフォロー
      - else
        %span.button-secondary.button-follow{ data: { account_id: account_id } } フォロー

    .user-profile-introduction
      %p.user-profile-label 自己紹介
      %p.user-profile-value= user.profile.introduction
