.container
  %h2 投稿を作成

  .post.post-new
    = link_to 'キャンセル', posts_path,class: 'cancel'
    .avatar-image
      - if current_user.profile&.avatar&.attached?
        = image_tag current_user.profile.avatar, class: 'post-avatar-icon'
      - else
        = image_tag 'default_avatar.png', class: 'post-avatar-icon'

    = form_with(model: @post, local: true) do |f|
      .post-form
        .post-form-title
          = f.text_field :title, class: 'post-form-text', placeholder: '投稿タイトルを入力してください'
        .post-form-content
          = f.text_area :content, maxlength: 100, class: 'post-form-textarea', placeholder: '投稿内容を入力してください'
          %span#char-count 0 / 100
        .post-form-action
          = f.submit '投稿する', class: 'btn-primary post-btn'
