.container
  .post.post-show
    .post-header
      .user-info
        .avatar-image
          - if current_user.profile&.avatar&.attached?
            = image_tag current_user.profile.avatar, class: 'post-avatar-icon'
          - else
            = image_tag 'default_avatar.png', class: 'post-avatar-icon'
        %span.user-name= @post.user.profile.nickname
      = link_to '削除', post_path(@post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }
    .post-content
      %p= @post.content
    .post-action
      %span.like-button{ data: { liked: current_user.likes.exists?(post_id: @post.id) ? 'true' : 'false' } }
        - if current_user.likes.exists?(post_id: @post.id)
          = image_tag 'like_active.png',class: 'like-image'
        - else
          = image_tag 'like_inactive.png',class: 'like-image'
      %p.post-action-message 参考になったらいいねしてみよう！


  .comments-section{ 'id' => 'post-comments', 'data-post-id' => @post.id }

  .comment-form
    .show-comment-button
      コメントを追加
    .comment-form-textarea.hidden
      = text_area_tag :comment_content, nil, class: 'comment-textarea'
      .add-comment-button
        コメントを追加
