.container
  .post.post-show
    .post-header
      .user-info
        .avatar-image
          = link_to account_path(@post.user) do
            = avatar_display(@post.user, class_name: 'post-avatar-icon')
        %span.user-name= @post.user.profile.nickname
        %span.post-category= @post.category
      - if current_user == @post.user
        %span= link_to '削除', post_path(@post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'delete-post'
    %p.post-title
      %span.post-title-text タイトル：
      = @post.title
    .post-content 投稿内容
    .post-content-text
      %p= @post.content
    .post-action
      %span.like-button
        .active-heart.hidden
          = image_tag 'like_active.png',class: 'like-image'
        .inactive-heart.hidden
          = image_tag 'like_inactive.png',class: 'like-image'
      %p.post-action-message 参考になったらいいねしてみよう！


  .comments-section{ 'id' => 'post-comments', 'data-post-id' => @post.id }

  .comment-form
    .show-comment-button
      コメントを追加
    .comment-form-textarea.hidden
      = text_area_tag :comment_content, nil, class: 'comment-textarea'
      .add-comment-button
        コメントを追加
