.container
  .post.post-show
    .post-header
      .user-info
        .avatar-image
          - if current_user.profile&.avatar&.attached?
            = image_tag current_user.profile.avatar, class: 'post-avatar-icon'
          - else
            = image_tag 'default_avatar.png', class: 'post-avatar-icon'
        %span.user-name= @post.user.profile.nickname
      = link_to '削除', post_path(@post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }
    .post-content
      %p= @post.content
    .post-actions
      %span.like
        = image_tag 'like_inactive.png'
        0
      %span.comment
        = image_tag 'comment.png'
        0

