%header.header
  .header-left
    %span= image_tag 'site_logo.png',class: 'header-site-logo'
    = link_to "Familink", '#', class: "header-site-name"
  .header-right
    = link_to "投稿一覧", '#', class: "header-nav-link"
    = link_to "プロフィール", '#', class: "header-nav-link"
    = login_logout_link
